<p>list works!</p>
<app-if></app-if>

<div class="row">
    <h2>falls</h2>
    <div *ngFor="let myelm of [1,2,3]" class="card col m-3">
        <!-- <span *ngIf="msg">please vist falls...!</span> -->
        <img src="https://media.istockphoto.com/photos/aerial-view-of-famous-victoria-falls-zimbabwe-and-zambia-picture-id1081365424?s=170667a" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title {{myelm}}</h5>
            <p class="card-text">A waterfall is a point in a river or stream where water flows over a vertical drop or a series of steep drops. Waterfalls also occur where meltwater drops over the edge of a tabular iceberg or ice shelf.</p>
            <a href="#" class="btn btn-primary">vist falls</a>
        </div>
    </div>
</div>

<div class="row">
    <h2>This loop nature</h2>
    
    <div *ngFor="let list of itemList" class="card col m-3">
        <span *ngIf="list.title !='mobile'">buy mobile</span>
        <!-- {{myelm | json}}
        <br>
        <b> {{myelm.btnText}}</b> -->
        <img width="200" height="300" src="{{list.imageLink}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{list.title}}</h5>
            <p class="card-text">{{list.content}}</p>
            <a target="_blank" href="{{list.link}}" class="btn btn-primary">{{list.btnText}}</a>
        </div>
    </div>
</div>